body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #e61010; 
}

.categories {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin: 20px 0;
    background-color: #e61818;
    padding: 20px;     border-radius: 5px; }


button:hover {
    background-color: #323832; }


.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
    background-color: #dd1e1e; /
    padding: 20px; 
    border-radius: 5px; 
}


.cart-container {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff; 
}
